button {
  padding: 0.35rem 0.75rem;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  border: 2px solid var(--orange);
  cursor: pointer;
  background: var(--off-blue);
}
button:hover {
  border-radius: 20px;
}
button:active {
  box-shadow: 0px 0px 0px 2px color-mix(in hsl, var(--orange) 50%, transparent);
}
button:focus-visible {
  box-shadow: 0px 0px 0px 2px color-mix(in hsl, var(--orange) 50%, transparent);
  border-radius: 20px;
  outline: none !important;
}
